*{margin:0;padding:0;}
html,body,#app,.wrapper{
    width:100%;
    height:100%;
    overflow: hidden;
}
a {
  //a标签去掉下滑线
  text-decoration:none; 
}
.el-header{
	padding: 0px;
}

.el-aside{
	width: 210px !important;
}